<div class="row">
    <div class="col-sm-12 col-md-3">
        <div class="dataTables_length" id="sampleTable_length">
            <label> 
                Show
                <select #pageSize name="sampleTable_length" aria-controls="sampleTable" class="form-select form-select-sm"
                (change)="onSelected(pageSize.value)">
                    <option selected value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                </select>
                entries
            </label>
        </div>
    </div>
    <div class="col-sm-12 col-md-9">
        <div id="actionGroup">
            <div id="sampleTable_filter" class="dataTables_filter">
                <label>
                    Search:
                    <input #search="ngModel" ngModel type="search" class="form-control form control-sm" 
                    placeholder aria-controls="sampleTable" (ngModelChange)="onFilterChange(search.value)">
                </label>
            </div>
            <a class="btn btn-danger icon-btn" (click)="onOpenModal('deleteAll')"><i class="bi bi-trash fs-5"></i>Delete</a>
            <a class="btn btn-primary icon-btn" (click)="onOpenModal('add')"><i class="bi bi-plus-square fs-5"></i>Add {{ title }}</a>
        </div>
    </div>
</div>
