<main class="app-content">
    <app-breadcrumb 
        [title]="breadcrumb.title" 
        [desription]="breadcrumb.description"
        [urls]="breadcrumb.urls">
    </app-breadcrumb>
    <app-message
        [kindAlert]="alert.kindAlert"
        [title]="alert.title"
        [message]="alert.message"
        ></app-message>
        <div class="row">
            <div class="col-md-12">
              <div class="tile"> 
                TODO
              </div>
            </div>
        </div>
        
</main>