<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="https://randomuser.me/api/portraits/men/1.jpg" alt="User Image">
        <div>
          <p class="app-sidebar__user-name">John Doe</p>
          <p class="app-sidebar__user-designation">Frontend Developer</p>
        </div>
      </div>
      <ul class="app-menu">
        <li><a class="app-menu__item active" href="dashboard.html"><i class="app-menu__icon bi bi-speedometer"></i><span class="app-menu__label">Dashboard</span></a></li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon bi bi-laptop"></i><span class="app-menu__label">Article</span><i class="treeview-indicator bi bi-chevron-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" [routerLink]="['article']"><i class="icon bi bi-circle-fill"></i> Article</a></li>
            <li><a class="treeview-item" [routerLink]="['specialty']"><i class="icon bi bi-circle-fill"></i> Specialty</a></li>
            <li><a class="treeview-item" [routerLink]="['family']"><i class="icon bi bi-circle-fill"></i> Family</a></li>
            <li><a class="treeview-item" [routerLink]="['subfamily']"><i class="icon bi bi-circle-fill"></i> Subfamily</a></li>
            <li><a class="treeview-item" [routerLink]="['manufacturer']"><i class="icon bi bi-circle-fill"></i> Manufacturer</a></li>
            <li><a class="treeview-item" [routerLink]="['kind_article']"><i class="icon bi bi-circle-fill"></i> Kind Article</a></li>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon bi bi-laptop"></i><span class="app-menu__label">Importer</span><i class="treeview-indicator bi bi-chevron-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" [routerLink]="['importer']"><i class="icon bi bi-circle-fill"></i> Home</a></li>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon bi bi-laptop"></i><span class="app-menu__label">Provider</span><i class="treeview-indicator bi bi-chevron-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" [routerLink]="['provider']"><i class="icon bi bi-circle-fill"></i> Home</a></li>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon bi bi-laptop"></i><span class="app-menu__label">Carrier</span><i class="treeview-indicator bi bi-chevron-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" [routerLink]="['carrier']"><i class="icon bi bi-circle-fill"></i> Home</a></li>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon bi bi-laptop"></i><span class="app-menu__label">Bank</span><i class="treeview-indicator bi bi-chevron-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" [routerLink]="['bank']"><i class="icon bi bi-circle-fill"></i> Bank</a></li>
            <li><a class="treeview-item" [routerLink]="['account']"><i class="icon bi bi-circle-fill"></i> Bank Account</a></li>
          </ul>
        </li>
      </ul>
</aside>


