<ng-container [formGroup]="form">
    <div class="row">
        <div class="mb-3 form-group">
            <label class="form-label">Home Phone</label>
            <input 
                class="form-control" 
                type="text" 
                placeholder="Enter home phone" 
                id="home_phone"
                formControlName="home_phone" 
                maxlength="20"
            />
        </div>
        <div class="mb-3 form-group">
            <label class="form-label">Work Phone</label>
            <input 
                class="form-control" 
                type="text" 
                placeholder="Enter work phone" 
                id="work_phone"
                formControlName="work_phone" 
                maxlength="20"
            />
        </div>
        <div class="mb-3 form-group">
            <label class="form-label">Cell Phone</label>
            <input 
                class="form-control" 
                type="text" 
                placeholder="Enter cell phone" 
                id="cell_phone"
                formControlName="cell_phone" 
                maxlength="20"
            />
        </div>
    </div>
    <div class="row">
        <div class="mb-3 form-group">
            <label class="form-label">Email</label>
            <input 
                class="form-control" 
                type="email" 
                placeholder="Enter email" 
                id="email" 
                formControlName="email" 
            />
        </div>
        <div class="mb-3 form-group">
            <label class="form-label">Website</label>
            <input 
                class="form-control" 
                type="text" 
                placeholder="Enter website" 
                id="website" 
                formControlName="website" 
            />
        </div>
    </div>
</ng-container>