<ng-container [formGroup]="form">
    <div class="mb-3 form-group">
        <label class="form-label">Home Phone</label>
        <input 
            class="form-control" 
            type="text" 
            placeholder="Enter home phone" 
            id="home_phone"
            formControlName="home_phone" 
        />
    </div>
    <div class="mb-3 form-group">
        <label class="form-label">Work Phone</label>
        <input 
            class="form-control" 
            type="text" 
            placeholder="Enter work phone" 
            id="work_phone"
            formControlName="work_phone" 
        />
    </div>
    <div class="mb-3 form-group">
        <label class="form-label">Cell Phone</label>
        <input 
            class="form-control" 
            type="text" 
            placeholder="Enter cell phone" 
            id="cell_phone"
            formControlName="cell_phone" 
        />
    </div>
    <div class="mb-3 form-group">
        <label class="form-label">Email</label>
        <input 
            class="form-control" 
            type="email" 
            placeholder="Enter email" 
            id="email" 
            formControlName="email" 
        />
    </div>
    <div class="mb-3 form-group">
        <label class="form-label">Website</label>
        <input 
            class="form-control" 
            type="text" 
            placeholder="Enter website" 
            id="website" 
            formControlName="website" 
        />
    </div>
    <div class="mb-3 form-group">
        <label class="form-label"></label>
        <input 
            class="form-control" 
            type="file" 
            placeholder="Select image" 
            id="loadImage" 
            (change)="uploadImage($event)"+
            style="display: none;"
            />
    </div>
    <div class="mb3 form-group" id="containerImageCDetails">
        <img
            [src]="srcImage"
            id="imageFile"
            class="img-fluid rounded form-control"
            (click)="loadImage()"
        />
    </div>
</ng-container>