<main class="app-content">
    <div class="row user">
      <div class="col-md-12">
        <div class="profile">
          <div class="info">
            <div class="form-group">
              <label class="form-label"></label>
              <input 
                class="form-control" 
                type="file" 
                placeholder="Select image" 
                id="loadImage" 
                (change)="uploadImage($event)"
                style="display: none;"
              />
            </div>
            <div class="form-group" id="containerImageImporter">
              <img 
                [src]="srcImage"
                id="imageFile"
                class="img-fluid rounded form-control"
                (click)="loadImage()"
              />
              <h4>{{ form.get('name')?.value }}</h4>
              <p>{{ form.get('nit')?.value }}</p>
            </div>
          </div>
          <div class="cover-image"></div>
        </div>
      </div>
      <!--
      <app-breadcrumb 
        [title]="breadcrumb.title" 
        [desription]="breadcrumb.description" 
        [urls]="breadcrumb.urls">
      </app-breadcrumb>
      -->
      
      <app-message 
        [kindAlert]="alert.kindAlert" 
        [title]="alert.title" 
        [message]="alert.message" 
        (cleanAlert)="alert.onCleanAlert()">
      </app-message>
      <div class="col-md-3">
        <div class="tile p-0">
          <ul class="nav flex-column nav-tabs user-tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <a 
                class="nav-link active" 
                href="#importer-info" 
                data-bs-toggle="tab" 
                aria-selected="false" 
                role="tab" 
                tabindex="-1">Importer
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a 
                class="nav-link" 
                href="#importer-details" 
                data-bs-toggle="tab" 
                aria-selected="true" 
                role="tab">Contact Details
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <form [formGroup]="form" (ngSubmit)="save()">
          <div class="tab-content">
            <div class="tab-pane active show" id="importer-info" role="tabpanel">
              <div class="tile">
                <h4 class="line-head">Importer</h4>
                <div class="form-group">
                  <label for="id" style="display: none;"></label>
                  <input
                    type="hidden"
                    class="form-control"
                    formControlName="id"
                  />
                </div>
                <div class="row">
                  <div class="mb-3 col-md-6 form-group">
                    <label class="form-label">Name</label>
                    <input 
                      class="form-control" 
                      type="text" 
                      placeholder="Enter name" 
                      id="name" 
                      formControlName="name"
                      maxlength="11"
                    />
                    <div class="form-control-feedback" *ngIf="feedBackName != ''">{{ feedBackName }}</div>
                  </div>
                  <div class="mb-3 col-md-6 form-group">
                    <label class="form-label">Nit</label>
                    <input 
                      class="form-control" 
                      type="text" 
                      placeholder="Enter nit" 
                      id="nit" 
                      formControlName="nit"
                      maxlength="11"
                    />
                    <div class="form-control-feedback" *ngIf="feedBackNit != ''">{{ feedBackNit}}</div>
                  </div>
                </div>
                <div class="mb-3 form-group">
                  <label class="form-label">Description</label>
                  <textarea
                    class="form-control" 
                    rows="3" 
                    placeholder="Enter description" 
                    id="description" 
                    formControlName="description"
                    >
                  </textarea>
                </div>
                <app-address formGroupName="address"></app-address>
              </div>
            </div>
            <div class="tab-pane" id="importer-details" role="tabpanel">
              <div class="tile">
                <h4 class="line-head">Details</h4>
                <app-contact-details formGroupName="contactDetails"></app-contact-details>
              </div>
            </div>
            <div class="tile-footer">
              <button type="submit" class="btn btn-primary" *ngIf="modelMode">
                <i class="bi bi-check-circle-fill me-2"></i>
                Register</button>
              <button type="button" class="btn btn-primary" *ngIf="!modelMode"
              (click)="updateById()">
                <i class="bi bi-check-circle-fill me-2"></i>
                Save changes</button>
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-secondary" href="importer"><i class="bi bi-x-circle-fill me-2"></i>Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
</main>